<div id="homepage_header">
	<%= render :partial => 'layouts/header' %>
</div>

<div class="container-fluid intro" id="about">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="home-icon-1">ABOUT US</h1>
			<p class="text-intro">Our ultimate goal is SELLING - help customer to increase sales</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 section-1 nopadding" id="work">
			<div class="logo-1-right wp1"></div>
		</div>
		<div class="col-md-4 section-text nopadding">
			<div class="wp4">
				<h2 class="home-icon-2">DESIGNS</h2>
				<p class="text-justify text-intro-width-80 ">Creativity is more than just being
                  different… We see recent trend as making the simple, awesomely simple,
                  that is creativity. </p>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img section-small-1">
				<div class="arrow"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 section-text nopadding">
			<div class="wp5">
				<h2 class="home-icon-3">MARTKETING CREATIVES</h2>
				<p class="text-intro">Cow, Cow, Cow … PINK COW! </p>
                <p class="text-intro">Car, Car, Car … Camel! </p>
                <p class="text-intro">That's how we do it...</p>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img section-small-2">
				<div class="arrow"></div>
			</div>
		</div>
		<div class="col-md-8 section-2 nopadding">
			<div class="logo-2 wp2"></div>
		</div>
	</div>
</div>
<div class="container-fluid padding-bottom-75">
	<div class="row">
		<div class="col-md-4 section-3">
			<div class="logo-3 wp3"></div>
		</div>
		<div class="col-md-4 section-text nopadding">
			<div class="wp6">
				<h2 class="home-icon-4">CONSULTANT</h2>
				<p class="text-intro">See what the other don’t see</p>
                <ul class="text-list-for-home-consultant">
                    <li>Fund Raising</li>
                    <li>Financial Analysis</li>
                    <li>Business Strategy</li>
                </ul>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img section-small-3">
                <div class="wp7 logo-5"></div>
				<div class="arrow"></div>
			</div>
		</div>
		<div class="col-md-4 section-4">
          <div class="wp8 logo-4"></div>
		</div>
	</div>
</div>
<!--<section class="flex-container">-->
	<!--<div class="container">-->
		<!--<div class="row">-->
			<!--<div class="col-md-12">-->
				<!--<div class="flexslider">-->
					<!--<ul class="slides">-->
						<!--<li>-->
							<!--<div class="flex-twitter-icon"></div>-->
							<!--<h2 class="twitter-post-username">-->
							<!--<a href="#">AOS New York @aod</a> <span>/ 35 min</span>-->
							<!--</h2>-->
							<!--<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.</p>-->
						<!--</li>-->
						<!--<li>-->
							<!--<div class="flex-twitter-icon"></div>-->
							<!--<h2 class="twitter-post-username">-->
							<!--<a href="#">AOS New York @aod</a> <span>/ 35 min</span>-->
							<!--</h2>-->
							<!--<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. </p>-->
						<!--</li>-->
						<!--<li>-->
							<!--<div class="flex-twitter-icon"></div>-->
							<!--<h2 class="twitter-post-username">-->
							<!--<a href="#">AOS New York @aod</a> <span>/ 35 min</span>-->
							<!--</h2>-->
							<!--<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor.</p>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</section>-->

<%#= render :partial => 'home/products_main' %>

