<footer>
    <div class="container">
		<div class="row">
			<div class="col-md-4 footer-leftcol">
				<!--<p><span class="bold-16p">New Jersey</span><br>-->
				<p>©2015 Bull Century, Inc. All Rights Reserved.</p>
			</div>

			<div class="footer-midcol">
				<ul>
					<li><a href="#" class="social-icon facebook-icon">Facebook</a></li>
					<li><a href="#" class="social-icon pinterest-icon">Pinterest</a></li>
				    <li><a href="#" class="social-icon twitter-icon">Twitter</a></li>
				    <li><a href="#" class="social-icon vimeo-icon">Vimeo</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</footer>